*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div{
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}
form h1{
  text-align: center;
}